
@model PagedList.IPagedList<WebAppProject1.Models.Product>

@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "Index4";
}

<h2>Index4</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Product name
        </th>
        <th>

        </th>
        <th>
            Product color
        </th>
        <th>

        </th>
        <th>

        </th>
        <th>

        </th>
        <th>
            
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PCategory)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId }) |
                @Html.ActionLink("Details", "Details", new { id = item.ProductId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index4",
    new { page }))
